<div class="p-4 border flex justify-between items-center">
  <div class="text-lg font-bold dark:text-white">
    Learn View Component
  </div>
  <button class="btn btn-primary dark:btn-light dark:hover:btn-primary" data-action='click->switch-theme#toggle'>
    <i class="fa-regular fa-moon" data-switch-theme-target='icon'></i>
  </button>
</div>
