<div class="flex justify-between items-center mt-4">
  <%= link_to "Create a new post", new_post_path, class: "btn btn-primary" %>
  <%= render partial: 'shared/components/search', locals: { q: @q, url: posts_path, name_field: 'title_cont' } %>
</div>
<%= render(AlertComponent.new(message: "#{flash[:notice]}", type: "success")) %>
<div class="py-5">
  <%= render(PostCardComponent.with_collection(@posts, classes: "mb-3")) %>
</div>
